:root{
--plava-boja: rgb(69, 176, 238);
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    overflow: hidden;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(273px,1fr) minmax(270px,4fr);
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "s h"
    "s m";
}


.header{
    grid-area: h;
    background-color: rgb(255, 255, 255);

    padding: 15px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;


    box-shadow: 0 8px 10px  rgba(34, 34, 34, 0.25);
    z-index: 1;

    font-size: 1.5rem;
}




.header1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.header1 .search-area{
    display: flex;
    gap: 20px;
}

.header1 #search-bar{
width:500px;

border-radius: 10px;
}


.header1 .profile-area{
    display: flex;
    align-items: center;
    gap: 20px;
}


.profile-photo{
    height: 60px;
    width: 60px;
  border-radius: 50%;
}




.header2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header2 img{
    height:80px ;
    width: 80px;
    border: 50%;
}
.header2>div{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header2 p{
    font-size: 1rem;
    font-weight: bold;
}

.header2 button{
    width: 110px;
    height: 50px;
    
    color: white;
    background-color: var(--plava-boja);

    border: none;
    border-radius: 20px;
    margin-left: 20px;
    
    font-size: 1rem;
    font-weight: bold;
}





.sidebar{
    grid-area: s;
    background-color: var(--plava-boja);

    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 50px;

    color: white;
    font-size: 1.5rem;
}



.sidebar .logo-area{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;

    overflow-wrap: anywhere;
}

.logo-img, 
.sidebar i{
    width: 60px;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}



.sidebar ul{
    list-style-type: none;
    line-height:2;
    cursor: pointer;
}



.sidebar li{
    display: flex;
    gap: 20px;
    
    font-weight: 600;
}



.navigacija i:hover,
.navigacija p:hover,
.postavke p:hover,
.postavke i:hover,
.header1 i:hover,
.header1 img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.header2 button:hover{
    cursor: pointer;
    background-color: rgb(51, 134, 182);
}















.main-area{
    grid-area: m;
    background-color: rgb(207, 239, 248);
}

